In [7]:
import pandas as pd

df = pd.read_csv (r'E:\Salaries.csv')
print (df)

     work_year experience_level employment_type                   job_title  \
0         2020               MI              FT              Data Scientist
1         2020               SE              FT  Machine Learning Scientist
2         2020               SE              FT           Big Data Engineer
3         2020               MI              FT        Product Data Analyst
4         2020               SE              FT   Machine Learning Engineer
..         ...              ...             ...                         ...
602       2022               SE              FT               Data Engineer
603       2022               SE              FT               Data Engineer
604       2022               SE              FT                Data Analyst
605       2022               SE              FT                Data Analyst
606       2022               MI              FT                AI Scientist

     salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0     70000             EUR          79833                 DE             0
1    260000             USD         260000                 JP             0
2     85000             GBP         109024                 GB            50
3     20000             USD          20000                 HN             0
4    150000             USD         150000                 US            50
..      ...             ...            ...                ...           ...
602  154000             USD         154000                 US           100
603  126000             USD         126000                 US           100
604  129000             USD         129000                 US             0
605  150000             USD         150000                 US           100
606  200000             USD         200000                 IN           100

    company_location company_size
0                 DE            L
1                 JP            S
2                 GB            M
3                 HN            S
4                 US            L
..               ...          ...
602               US            M
603               US            M
604               US            M
605               US            M
606               US            L

[607 rows x 11 columns]

In [8]:
import numpy as np
import csv

with open('E:\Salaries.csv','r') as x:
    f = list(csv.reader(x, delimiter=","))
f=np.array(f)
display(f)

array([['work_year', 'experience_level', 'employment_type', ...,
        'remote_ratio', 'company_location', 'company_size'],
       ['2020', 'MI', 'FT', ..., '0', 'DE', 'L'],
       ['2020', 'SE', 'FT', ..., '0', 'JP', 'S'],
       ...,
       ['2022', 'SE', 'FT', ..., '0', 'US', 'M'],
       ['2022', 'SE', 'FT', ..., '100', 'US', 'M'],
       ['2022', 'MI', 'FT', ..., '100', 'US', 'L']], dtype='<U40')

In [9]:
import numpy as np
import csv

with open('E:\Salaries.csv') as y:
    j = csv.reader(y)
    d=pd.DataFrame([j])

for index, row in df.iterrows():
    print(row)

work_year                       2020
experience_level                  MI
employment_type                   FT
job_title             Data Scientist
salary                         70000
salary_currency                  EUR
salary_in_usd                  79833
employee_residence                DE
remote_ratio                       0
company_location                  DE
company_size                       L
Name: 0, dtype: object
work_year                                   2020
experience_level                              SE
employment_type                               FT
job_title             Machine Learning Scientist
salary                                    260000
salary_currency                              USD
salary_in_usd                             260000
employee_residence                            JP
remote_ratio                                   0
company_location                              JP
company_size                                   S
Name: 1, dtype: object
work_year                          2020
experience_level                     SE
employment_type                      FT
job_title             Big Data Engineer
salary                            85000
salary_currency                     GBP
salary_in_usd                    109024
employee_residence                   GB
remote_ratio                         50
company_location                     GB
company_size                          M
Name: 2, dtype: object
work_year                             2020
experience_level                        MI
employment_type                         FT
job_title             Product Data Analyst
salary                               20000
salary_currency                        USD
salary_in_usd                        20000
employee_residence                      HN
remote_ratio                             0
company_location                        HN
company_size                             S
Name: 3, dtype: object
work_year                                  2020
experience_level                             SE
employment_type                              FT
job_title             Machine Learning Engineer
salary                                   150000
salary_currency                             USD
salary_in_usd                            150000
employee_residence                           US
remote_ratio                                 50
company_location                             US
company_size                                  L
Name: 4, dtype: object
work_year                     2020
experience_level                EN
employment_type                 FT
job_title             Data Analyst
salary                       72000
salary_currency                USD
salary_in_usd                72000
employee_residence              US
remote_ratio                   100
company_location                US
company_size                     L
Name: 5, dtype: object
work_year                            2020
experience_level                       SE
employment_type                        FT
job_title             Lead Data Scientist
salary                             190000
salary_currency                       USD
salary_in_usd                      190000
employee_residence                     US
remote_ratio                          100
company_location                       US
company_size                            S
Name: 6, dtype: object
work_year                       2020
experience_level                  MI
employment_type                   FT
job_title             Data Scientist
salary                      11000000
salary_currency                  HUF
salary_in_usd                  35735
employee_residence                HU
remote_ratio                      50
company_location                  HU
company_size                       L
Name: 7, dtype: object
work_year                              2020
experience_level                         MI
employment_type                          FT
job_title             Business Data Analyst
salary                               135000
salary_currency                         USD
salary_in_usd                        135000
employee_residence                       US
remote_ratio                            100
company_location                         US
company_size                              L
Name: 8, dtype: object
work_year                           2020
experience_level                      SE
employment_type                       FT
job_title             Lead Data Engineer
salary                            125000
salary_currency                      USD
salary_in_usd                     125000
employee_residence                    NZ
remote_ratio                          50
company_location                      NZ
company_size                           S
Name: 9, dtype: object
work_year                       2020
experience_level                  EN
employment_type                   FT
job_title             Data Scientist
salary                         45000
salary_currency                  EUR
salary_in_usd                  51321
employee_residence                FR
remote_ratio                       0
company_location                  FR
company_size                       S
Name: 10, dtype: object
work_year                       2020
experience_level                  MI
employment_type                   FT
job_title             Data Scientist
salary                       3000000
salary_currency                  INR
salary_in_usd                  40481
employee_residence                IN
remote_ratio                       0
company_location                  IN
company_size                       L
Name: 11, dtype: object
work_year                       2020
experience_level                  EN
employment_type                   FT
job_title             Data Scientist
salary                         35000
salary_currency                  EUR
salary_in_usd                  39916
employee_residence                FR
remote_ratio                       0
company_location                  FR
company_size                       M
Name: 12, dtype: object
work_year                          2020
experience_level                     MI
employment_type                      FT
job_title             Lead Data Analyst
salary                            87000
salary_currency                     USD
salary_in_usd                     87000
employee_residence                   US
remote_ratio                        100
company_location                     US
company_size                          L
Name: 13, dtype: object
work_year                     2020
experience_level                MI
employment_type                 FT
job_title             Data Analyst
salary                       85000
salary_currency                USD
salary_in_usd                85000
employee_residence              US
remote_ratio                   100
company_location                US
company_size                     L
Name: 14, dtype: object
work_year                     2020
experience_level                MI
employment_type                 FT
job_title             Data Analyst
salary                        8000
salary_currency                USD
salary_in_usd                 8000
employee_residence              PK
remote_ratio                    50
company_location                PK
company_size                     L
Name: 15, dtype: object
work_year                      2020
experience_level                 EN
employment_type                  FT
job_title             Data Engineer
salary                      4450000
salary_currency                 JPY
salary_in_usd                 41689
employee_residence               JP
remote_ratio                    100
company_location                 JP
company_size                      S
Name: 16, dtype: object
work_year                          2020
experience_level                     SE
employment_type                      FT
job_title             Big Data Engineer
salary                           100000
salary_currency                     EUR
salary_in_usd                    114047
employee_residence                   PL
remote_ratio                        100
company_location                     GB
company_size                          S
Name: 17, dtype: object
work_year                                2020
experience_level                           EN
employment_type                            FT
job_title             Data Science Consultant
salary                                 423000
salary_currency                           INR
salary_in_usd                            5707
employee_residence                         IN
remote_ratio                               50
company_location                           IN
company_size                                M
Name: 18, dtype: object
work_year                           2020
experience_level                      MI
employment_type                       FT
job_title             Lead Data Engineer
salary                             56000
salary_currency                      USD
salary_in_usd                      56000
employee_residence                    PT
remote_ratio                         100
company_location                      US
company_size                           M
Name: 19, dtype: object
work_year                                  2020
experience_level                             MI
employment_type                              FT
job_title             Machine Learning Engineer
salary                                   299000
salary_currency                             CNY
salary_in_usd                             43331
employee_residence                           CN
remote_ratio                                  0
company_location                             CN
company_size                                  M
Name: 20, dtype: object
work_year                             2020
experience_level                        MI
employment_type                         FT
job_title             Product Data Analyst
salary                              450000
salary_currency                        INR
salary_in_usd                         6072
employee_residence                      IN
remote_ratio                           100
company_location                        IN
company_size                             L
Name: 21, dtype: object
work_year                      2020
experience_level                 SE
employment_type                  FT
job_title             Data Engineer
salary                        42000
salary_currency                 EUR
salary_in_usd                 47899
employee_residence               GR
remote_ratio                     50
company_location                 GR
company_size                      L
Name: 22, dtype: object
work_year                        2020
experience_level                   MI
employment_type                    FT
job_title             BI Data Analyst
salary                          98000
salary_currency                   USD
salary_in_usd                   98000
employee_residence                 US
remote_ratio                        0
company_location                   US
company_size                        M
Name: 23, dtype: object
work_year                            2020
experience_level                       MI
employment_type                        FT
job_title             Lead Data Scientist
salary                             115000
salary_currency                       USD
salary_in_usd                      115000
employee_residence                     AE
remote_ratio                            0
company_location                       AE
company_size                            L
Name: 24, dtype: object
work_year                                 2020
experience_level                            EX
employment_type                             FT
job_title             Director of Data Science
salary                                  325000
salary_currency                            USD
salary_in_usd                           325000
employee_residence                          US
remote_ratio                               100
company_location                            US
company_size                                 L
Name: 25, dtype: object
work_year                           2020
experience_level                      EN
employment_type                       FT
job_title             Research Scientist
salary                             42000
salary_currency                      USD
salary_in_usd                      42000
employee_residence                    NL
remote_ratio                          50
company_location                      NL
company_size                           L
Name: 26, dtype: object
work_year                      2020
experience_level                 SE
employment_type                  FT
job_title             Data Engineer
salary                       720000
salary_currency                 MXN
salary_in_usd                 33511
employee_residence               MX
remote_ratio                      0
company_location                 MX
company_size                      S
Name: 27, dtype: object
work_year                              2020
experience_level                         EN
employment_type                          CT
job_title             Business Data Analyst
salary                               100000
salary_currency                         USD
salary_in_usd                        100000
employee_residence                       US
remote_ratio                            100
company_location                         US
company_size                              L
Name: 28, dtype: object
work_year                                 2020
experience_level                            SE
employment_type                             FT
job_title             Machine Learning Manager
salary                                  157000
salary_currency                            CAD
salary_in_usd                           117104
employee_residence                          CA
remote_ratio                                50
company_location                            CA
company_size                                 L
Name: 29, dtype: object
work_year                                 2020
experience_level                            MI
employment_type                             FT
job_title             Data Engineering Manager
salary                                   51999
salary_currency                            EUR
salary_in_usd                            59303
employee_residence                          DE
remote_ratio                               100
company_location                            DE
company_size                                 S
Name: 30, dtype: object
work_year                          2020
experience_level                     EN
employment_type                      FT
job_title             Big Data Engineer
salary                            70000
salary_currency                     USD
salary_in_usd                     70000
employee_residence                   US
remote_ratio                        100
company_location                     US
company_size                          L
Name: 31, dtype: object
work_year                       2020
experience_level                  SE
employment_type                   FT
job_title             Data Scientist
salary                         60000
salary_currency                  EUR
salary_in_usd                  68428
employee_residence                GR
remote_ratio                     100
company_location                  US
company_size                       L
Name: 32, dtype: object
work_year                           2020
experience_level                      MI
employment_type                       FT
job_title             Research Scientist
salary                            450000
salary_currency                      USD
salary_in_usd                     450000
employee_residence                    US
remote_ratio                           0
company_location                      US
company_size                           M
Name: 33, dtype: object
work_year                     2020
experience_level                MI
employment_type                 FT
job_title             Data Analyst
salary                       41000
salary_currency                EUR
salary_in_usd                46759
employee_residence              FR
remote_ratio                    50
company_location                FR
company_size                     L
Name: 34, dtype: object
work_year                      2020
experience_level                 MI
employment_type                  FT
job_title             Data Engineer
salary                        65000
salary_currency                 EUR
salary_in_usd                 74130
employee_residence               AT
remote_ratio                     50
company_location                 AT
company_size                      L
Name: 35, dtype: object
work_year                                2020
experience_level                           MI
employment_type                            FT
job_title             Data Science Consultant
salary                                 103000
salary_currency                           USD
salary_in_usd                          103000
employee_residence                         US
remote_ratio                              100
company_location                           US
company_size                                L
Name: 36, dtype: object
work_year                                  2020
experience_level                             EN
employment_type                              FT
job_title             Machine Learning Engineer
salary                                   250000
salary_currency                             USD
salary_in_usd                            250000
employee_residence                           US
remote_ratio                                 50
company_location                             US
company_size                                  L
Name: 37, dtype: object
work_year                     2020
experience_level                EN
employment_type                 FT
job_title             Data Analyst
salary                       10000
salary_currency                USD
salary_in_usd                10000
employee_residence              NG
remote_ratio                   100
company_location                NG
company_size                     S
Name: 38, dtype: object
work_year                                  2020
experience_level                             EN
employment_type                              FT
job_title             Machine Learning Engineer
salary                                   138000
salary_currency                             USD
salary_in_usd                            138000
employee_residence                           US
remote_ratio                                100
company_location                             US
company_size                                  S
Name: 39, dtype: object
work_year                       2020
experience_level                  MI
employment_type                   FT
job_title             Data Scientist
salary                         45760
salary_currency                  USD
salary_in_usd                  45760
employee_residence                PH
remote_ratio                     100
company_location                  US
company_size                       S
Name: 40, dtype: object
work_year                                 2020
experience_level                            EX
employment_type                             FT
job_title             Data Engineering Manager
salary                                   70000
salary_currency                            EUR
salary_in_usd                            79833
employee_residence                          ES
remote_ratio                                50
company_location                            ES
company_size                                 L
Name: 41, dtype: object
work_year                                                 2020